<div class="row">
  <div class="col-lg-6 col-md-8 mx-auto mb-5">
    <h1 class="fw-light text-center">
      Vote <i class="fas fa-plus-square text-success"></i> on your fav cat
    </h1>
  </div>
</div>

<div class="album">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <ng-container *ngFor="let cat of cats; index as ind">
        <app-cat-card
          *ngIf="ind < count"
          (voteEvent)="onVoteEvent()"
          [cat]="cat"
          [class]="'cat-' + ind"
        ></app-cat-card>
      </ng-container>
    </div>
    <div class="row">
      <div class="w-100 d-flex flex-column align-items-md-end mt-4">
        <button class="btn btn-success" (click)="loadMoreCats()">
          Load more
        </button>
      </div>
    </div>
  </div>
</div>
